/*.display-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 700px;
    width: 700px;
}*/

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}


.square{
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    /*width: calc(500px/var(--gridAmount)-2px);
    height:calc(500px/var(--gridAmount)-2px);*/
}

#grid-container{
    height: 500px;
    width: 500px;
    font-size:0;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    border: 5px solid black;
}
